<%== usernav %>
<div class="pagewrap">

<div class="newwork">
<h2>Create new Work</h2>
<%= render :partial => 'form' %>

</div><!--//////close newwork///////-->

</div><!--//////close pagewrap ////// -->