<%== usernav %>
<div class="pagewrap">

<!-- show the users images theyve created -->
<div class="images">
  <% @user.works.each do |work| %>
    <%= link_to(image_tag(work.image_url(:thumb)),work) %>
      <% end %>
  </div><!--///////// close images ////////-->

  </div><!--//////close pagewrap ////// -->