
<h2>Welcome to photocrapper</h2>
<p>Lets start crapping photos</p>

<%== usernav %>

<div class="images">
  <!-- /////////// put the code for images here ///////// -->
  </div><!--///////// close images ////////-->

