
<h2>Welcome to photocrapper</h2>
<p>Lets start crapping photos</p>

<%== usernav %>

<!-- generate random images from all users -->
<!-- show the users images theyve created -->
<div class="images">
  <% @user.works.each do |work| %>
    <%= link_to(image_tag(work.image, :class => 'thumb'),work) %>
      <% end %>
  </div><!--///////// close images ////////-->

