/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face { font-family: Avenir Next; src: url('Avenir Next.ttc'); }

#container{
  max-width: 100%;
  position: relative;
  background-color: #fff;
}

.pagewrap{
  width: 100%;
  padding-top: 5%;
}

/* /////////////////////////// header style //////////////*/


header{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
}

nav{
  width: 100%;
}

nav ul{
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;
}

nav li{
  display: inline-block;
  list-style: none;
  padding-right: 1%;
}

nav h2{
  display: inline-block;
  list-style: none;
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

nav a{
  color: #000;
  text-decoration: none;
}

nav a:hover{
  color: #000;
  background-color: #E8C53A;
}

/* /////////////////////////// content style //////////////*/


#content{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* /////////////////////////// text style //////////////*/


h1{
  font-size: 5em;
  margin-left: 5%;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 400px){
    h1{
      font-size: 2em;
    margin-left: 5%;
    font-family: Avenir Next;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
  }
  #usernav h2{
    font-size: 1em;
    font-family: Avenir Next;
    font-style: italic;
    text-transform: uppercase;
  }

  nav h2{
  display: inline-block;
  list-style: none;
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}
}

h2{
  margin: 0;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

label{
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

#loginpage{
  width: 100%;
  display: inline-block;
  padding-top: 5%;
}

#login{
  top: 2;
  width: 40%;
  display: inline-block;
  margin-left: 1%;
  vertical-align: top;
}

#login h3{
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 3em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

#login h2{
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

#loginline{
  width: 0.5%;
  margin-left: 6%;
  margin-right: 2%;
  padding-top: 28%;
  background-color: #000;
  display: inline-block;
}

#logintext{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

#logintext h2{
  font-size: 3em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#logintext p{
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
}

#login input[type=text],input[type=url],input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ffcb39;
  font-size: 1em;
}

/* /////////////////////////// sign up style //////////////*/

#newuser{
  width: 35%;
  display: inline-block;
}

#newuser p{
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
}

#newuser h2{
  font-size: 3em;
  color: #E8C53A;
  margin-top: 0;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#signup{
  top: 2;
  width: 50%;
  display: inline-block;
  margin-left: 5%;
}



#signup h2{
  font-size: 1.5em;
  margin-top: 0;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#signup input[type=text],input[type=url],input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ffcb39;
  font-size: 1em;
}

input[name=commit]{
  background-color: #F2CF66;
  border: 0;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  text-shadow: 0px -2px #D1B358;
  position: relative;
  padding: 10px 40px;
  font-size: 2em;
  color: #FFF;
  text-decoration: none;
  /*padding-top: 2%;*/
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

#signup label{
}

/* /////////////////////////// usernav style //////////////*/


#usernav h2{
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

#usernav{
  width: 100%;
  display: inline-block;
}

#usernav li{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding-right: 2%;
}

#usernav li{
  list-style: none;
  display: inline-block;
}

#usernav a{
  text-decoration: none;
  color: #000;
}

#usernav a:hover{
  text-decoration: none;
  color: #E8C53A;
}

/* /////////////////////////// works style //////////////*/


#works{
  width: 30%;
  display: inline-block;
}

/* /////////////////////////// create new style //////////////*/

.newwork input[type=text],input[type=url], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ffcb39;
  font-size: 1em;
}


.newwork input[type=text],input[type=url], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ffcb39;
  font-size: 1em;
}


/* /////////////////////////// singlework style //////////////*/

.singlework{
  width: 60%;
}

.singlework li{
  list-style: none;
}

.singlework ul{
  margin: 0;
  padding-left: 0;
}

.singlework p{
  margin: 0;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

.singlework a{
  margin: 0;
  color: #000;
  font-size: 2em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
}

.singlework a:hover{
  margin: 0;
  color: #E8C53A;
}

/* /////////////////////////// eaplore user image style //////////////*/

.userworks{
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

.userworks li{
  list-style: none;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

.userworks ul{
  padding: 0;
}



.userworksimag img{
  width: 100%;
  height: 250px;
  vertical-align:top;
}


.userworksimag{
  width: 30%;
  display: inline-block;
  padding-right: 1%;
}

/*.userworksimag:after {
    content:'\A';
    position:absolute;
    width:30%;
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.userworksimag:hover:after {
    opacity:1;
    pointer-events: none;
}*/


/* /////////////////////////// userdata style //////////////*/

.bar{
  width: 0.2%;
  background-color: #000;
  padding-top: 50%;
  display: inline-block;
}

.userdata{
  width: 25%;
  vertical-align: top;
  display: inline-block;
}

.userdata li{
  list-style: none;
}

.userdata ul{
    margin: 0;
}



.userdata a{
  list-style: none;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.userdata a:hover{
  color: #E8C53A;
}

.userdata h3{
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

.userdata img{
  width: 50%;
  display: inline-block;
}

.userworks{
  width: 70%;
  display: inline-block;
}

.userworksimag img{
  width: 100%;
  height: 250px;
  vertical-align:top;
}


.userworksimag{
  width: 30%;
  display: inline-block;
}

/*.userworksimag:after {
    content:'\A';
    position:absolute;
    width:30%;
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.userworksimag:hover:after {
    opacity:1;
    pointer-events: none;
}*/

/* /////////////////////////// search style //////////////*/


#results{
  width: 30%;
  display: inline-block;
}

#results a{
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

#results h4{
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

#results a:hover{
  color: #000;
  background-color: #E8C53A;
}

#results a:visited{
  color: #000;
  background-color: #E8C53A;
}



#results img{
  width: 100%;
  height: 300px;
}

/* /////////////////////////// usernav style //////////////*/

.useravatar{
  width: 10%;
  display: inline-block;
}

.followingname{
  width: 20%;
  display: block;
}

/* /////////////////////////// following style //////////////*/

.followingshow{
  width: 70%;
  display: inline-block;
}

.followingshow li{
  list-style: none;
}

.useravatar{
  width: 20%;
  display: block;
}

.followingname{
  font-size: 1em;
  font-family: Avenir Next;
  font-style: italic;
  text-transform: uppercase;
}

.followingname a{
  color: #000;
  text-decoration: none;
}

.followingname a:hover{
  color: #E8C53A;
  text-decoration: none;
}


.useravatar img{
  width: 100%;
}

/* /////////////////////////////////// footer //////////////////*/


footer{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
}

.social{
}

.circle-text:hover{
    background: #000;
}

.circle-text img {
  width: 100%;
  margin-top: 12px;
  padding: 2%;
}

.circle-text {
  width: 5%;
  margin-top: 12px;
  padding: 2%;
  background: #E6E7ED;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align:center;
  padding: 2%;
  display: inline-block;
  margin-left: 90%;
}

.line{
  background-color: #000;
  width: 100%;
  padding-top: 0.1%;
}


